*{
  margin: 0;
  box-sizing: border-box;
}

/* Remove outline on the forms and links
===============================================================*/
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

body {
  background: #34495e;
}

.container {
  max-width: 1200px;
  min-width: 250px;
  margin: 0 auto;
}

/* Header
===============================================================*/

.background {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.to-do-list-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 110px 0;
  padding: 20px;
  background: #2c3e50;
  box-shadow: 0 10px 20px black;
}


.to-do-list-header input[type='text'] {
  width: 65%;
  padding: 0 4% 0 4%;
  font-size: 17px;
  color: white;
  border: none;
  border-bottom: 2px solid #2f6d9f;
  background: none;
}

.to-do-list-header input[type='date'] {
  min-width: 165px;
  margin: 0 2%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  transition: 0.3s;
}

.to-do-list-header__button {
  width: 29%;
  min-width: 115px;
  padding: 13px 16px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 7px;
  background: #2f6d9f;
  box-shadow: 0 5px 0 rgb(27, 65, 95, 1);
  transition: 0.3s;
} 

.to-do-list-header__button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 0 rgb(27, 65, 95, 1);
  background: #215076;
}

.to-do-list-header__button:active {
  transform: translateY(-1px);
  box-shadow: 0 3px 0 rgb(27, 65, 95, 1);
  background: #215076;
}

/* Main
===============================================================*/

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.inner {
  position: relative;
  width: 32%;
  min-width: 250px;
  border-radius: 7px;
  box-shadow: 0 0 20px black;
  background: white;
  padding: 10px 0 30px;
}

.title {
  position: absolute;
  top: -65px;
  width: 100%;
  background: #2c3e50;
  border-radius: 7px;
  box-shadow: 0 0 10px black;
  padding: 15px 20px;
  font-size: 18px;
  color: white;
}

ol {
  padding-left: 36px;
}

#task {
  position: relative;
  width: 100%;
  height: 38.4px;
  padding: 10px 70px 10px 5px;
  transition: 0.2s;
  box-sizing: border-box;
} 

#task p {
  padding: 0 0 0 3%;
}

.first-task {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

#task__text {
  width: 80%;
}

.task__icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#task__icon {
  width: 20px;
  height: 20px;
  transition: 0.2s;
}

#task__icon:hover,
#task__icon.hover {
  width: 28px;
  height: 28px;
  margin: -4px -4px;
}

#task__icon:active,
#task__icon.active {
  width: 18px;
  height: 18px;
  margin: -4px -4px;
}

.task__right-arrow,
.task__right-arrow-in-progress,
.task__right-arrow-done {
  position: absolute;
  right: 38px;
  top: 10px;
  background: url(../img/arrow.png) no-repeat;
  background-size: cover;
}

.task__cross {
  position: absolute;
  right: 10px;
  top: 10px;
  background: url(../img/delete.png) no-repeat;
  background-size: cover;
}

.button-clear-all {
  position: absolute;
  bottom: -20px;
  left: 25%;
  width: 50%;
  padding: 10px 16px;
  font-size: 16px;
  color: white;
  border: none;
  background: #2f6d9f;
  transition: 0.3s;
  box-shadow: 0 5px 0 rgb(27, 65, 95, 1);
  border-radius: 7px;
}

.button-clear-all:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 0 rgb(27, 65, 95, 1);
  background: #215076;
  border-radius: 7px;
}

.button-clear-all:active {
  transform: translateY(-1px);
  box-shadow: 0 3px 0 rgb(27, 65, 95, 1);
  background: #215076;
}

/* Modals
===============================================================*/

.modal__clear-all, 
.modal__max-elements, 
.modal__empty-fields,
.modal__delete-task-in-progress {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.4);
  backdrop-filter: blur(5px);
}

.modal__context {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -150px;
  margin-top: -65px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 130px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px black;
}

.modal__context p {
  font-size: 25px;
  margin-bottom: 25px;
}

.modal__button {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.modal__button button {
  width: 120px;
  padding: 10px 16px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 7px;
  background: #2f6d9f;
  box-shadow: 0 0 3px #215076;
  transition: 0.3s;
}

.modal__button button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 0 rgb(27, 65, 95, 1);
  background: #215076;
}

.modal__button button:active {
  transform: translateY(-1px);
  box-shadow: 0 3px 0 rgb(27, 65, 95, 1);
  background: #215076;
}

.modal__max-elements .modal__context {
  text-align: center;
  height: 150px;
}

.modal__max-elements .modal__context p {
  margin-bottom: 15px;
}

.modal__delete-task-in-progress .modal__context {
  margin-right: -180px;
  width: 360px;
}

@media (max-width: 950px) {
  main {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .inner {
    width: 46%;
    margin-top: 120px;
  }

  .to-do-list-header {
    margin: 0;
  }

}

@media (max-width: 630px) {
  .to-do-list-header {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .to-do-list.inner {
    margin-top: 100px;
  }

  .to-do-list-header input[type='text'] {
    width: 100%;
    margin-bottom: 15px;
  }

  .inner {
    width: 90%;
  }

  .to-do-list-header__button {
    flex-grow: 1;
    margin-left: 10px;
  }

  .to-do-list-header input[type='date'] {
    margin: 0;
  }
}

@media (max-width: 360px) {
  
  .to-do-list-header__button {
    width: 100%;
    margin-left: 0;
  }

  .to-do-list-header input[type='date'] {
    width: 100%;
    margin-bottom: 15px;
  }
}
